**/__pycache__/
**/.pytest_cache/
**/tmp/
**/wandb/
**/logs/
**/_logs/
**/models/
**/out/
**/outputs/
**/mlruns/
**/multirun/
**/.DS_Store
**/experiments/
**/tests/
**/hpo_results/
memo.txt
Dockerfile
run.sh
setup.sh