# JAX and related libraries
jax[cuda12]

# Additional JAX-related libraries
flax
optax
orbax
chex

# RL libraries
gymnasium
brax
rlax
distrax

# Additional libraries

## Dataset
torch
torchvision

## Data Manipulation and Analysis
polars

## Data Visualization
matplotlib
seaborn
plotly
imageio

## Hyperparameter management
hydra-core
hydra-optuna-sweeper
PyYAML

## Utilities
tensorflow
tqdm
pytest
typing